# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.egg-info/
dist/
build/
venv/
.venv/
db.env
backend/db.env

# Node
node_modules/
frontend/build/
.npm/

# Database
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/